//-  block content
    //- each genre in genres
    //-     section(id=genre.genreName)
    //-         h2= genre.genreName  // Display the genre name
            p.category-description= genre.description  // Display the genre description
