extends index

block content
    .main-header
        .header
            h5 Book Bliss
            h2 For All your reading Needs.
            p Creating a space for people to escape into stories and find comfort during tough times.
            a.btn(href="") Read More
        img(src="/images/home5.jpg" alt="")

    //- Categories section
    section#categories
        .cat-row
            .cat-header
                h2 Book Categories
                p  Explore our collection of literature carefully chosen to transport you to different worlds and offer solace in challenging moments.

        .cat-books
            each category in categories
                a.category-item(href=`/category/${category.name}`)
                    .book-img
                        img(src=category.image alt=category.name)
                    h4= category.name

    section#about
        .set-row
            img(src="/images/about3.jpg" alt="")
            .about-content
                h2 About Our Bookstore
                p  We believe in the magic of books. From gripping novels to self-help gems, our carefully curated collection offers something for everyone. At BookBliss, we’re a community for book lovers, sparking inspiration and joy through the written word.
                a.btn2(href="#") Read More

    //- Blog Section
    //- section#blog
    //-     h2.blog-header From Our Blog
    //-     .set-row
    //-         .col
    //-             img(src="/images/pic1jpg.jpg" alt="")
    //-             h4 Eius, dolo? Vel velit sed doloremque
    //-             p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit corrupti quisquam minima aliquid ut asperiores recusandae magni ad consectetur.
    //-             a(href="#") Read More
    //-             .dates
    //-                 span 19 January 2021
    //-         .col
    //-             img(src="/images/pic2.jpg" alt="")
    //-             h4 Eius, dolo? Vel velit sed doloremque
    //-             p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit corrupti quisquam minima aliquid ut asperiores recusandae magni ad consectetur.
    //-             a(href="#") Read More
    //-             .dates
    //-                 span 19 January 2021

    //- Contact Section
    section#contactus

    .contact-row
        .col
          h2 Contact Us
          br
          img(src="/images/contactus.jpg" alt="")
        .col
             
            h2 We would love to hear from you.
            form(action="")
                input(type="text" placeholder="Name")
                br
                input(type="text" placeholder="Email")
                br
                input(type="text" placeholder="Phone Number")
                br
                textarea(cols="20" rows="5" placeholder="Message" id="")
                br
                br
                button(type="submit") SEND
        