extends index

block scripts
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js")
    script.
        (function(){
            emailjs.init({
                publicKey: "LDoafB8Uv8xwMEgAZ",
            });
        })();

        console.log(document.getElementById('contactForm'))
        document.getElementById('contactForm').addEventListener('submit', async function (e) {
            e.preventDefault(); // Prevent the default form submission

            const form = e.target;
            const formData = {
                name: form.name.value,
                email: form.email.value,
                phone: form.phone.value,
                message: form.message.value,
            };

            emailjs.send('service_0ex0xdm', 'template_2ritsgt', formData).then(
                (response) => {
                    console.log('SUCCESS!', response.status, response.text);
                    alert("success")
                },
                (error) => {
                    alert("error sending email")
                    console.log('FAILED...', error);
                },
            );
        });

block head-ext
    style
        include styles/home.css

block content
    .main-header
        .header
            h5 Book Bliss
            h2 For All your reading Needs.
            p Creating a space for people to escape into stories and find comfort during tough times.
            a.btn(href="/shopNow") Shop Now
        img(src="/images/home10.jpg" alt="")

    .section-separator

    //- Categories section
    section#categories


        .cat-row
            .cat-header
                h2 Book Categories
                p  Explore our collection of literature carefully chosen to transport you to different worlds and offer solace in challenging moments.

        .cat-books
            each category in categories
                a.category-item(href=`/category/${category.name}`)
                    .book-img
                        img(src=category.image alt=category.name)
                    h4= category.name
            #categories        

    .section-separator

    section#about
        .set-row
            img(src="/images/AboutOurjpg.jpg" alt="")
            .about-content
                h2 About Our Bookstore
                p  We believe in the magic of books. From gripping novels to self-help gems, our carefully curated collection offers something for everyone. At BookBliss, we’re a community for book lovers, sparking inspiration and joy through the written word.
                a.btn2(href="/shopNow") Shop Now


    .section-separator

    section#contactus
    .contact-row
        .col
            h2 Contact Us
            br
            img(src="/images/contactus.jpg" alt="")
        .col  
            h3 We would love to hear from you.
            form#contactForm
                input(type="text" placeholder="Name" name="name" required)
                br
                input(type="text" placeholder="Email" name="email" required)
                br
                input(type="text" placeholder="Phone Number" name="phone")
                br
                br
                textarea(cols="20" rows="5" placeholder="Message" name="message" required)
                br
                br
                button(type="submit") SEND
